<%= stylesheet_link_tag "doneEventsOverview.css" %>
<%= stylesheet_link_tag "courseOverview.css" %>

<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">

      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   
  

  <div class="field">
    <%= f.label :family_name,"Name" %><br>
    <%= f.text_field :family_name %>
  </div>

  <div class="field">
    <%= f.label :name,"Vorname" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :birth_date,"Geburtsdatum" %><br>
    <%= f.date_select :birth_date, :start_year => getBirthDateStart(), :end_year => getBirthDateEnd() %>
  </div>

  <%= f.fields_for :user do |ff| %>
    <div class="field">
      <%= ff.label :course, 'Studiengang' %>
      <%= ff.collection_select :course_id, Course.order(:name), :id, :name, class: "same_width1_input" %>
    </div>
    <% if current_user != nil && current_user.role == "admin" %>
      <div class="field">
      <%= ff.label :role%> <%= ff.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) %> 
      </div>
    <% end %> 
  <% end %>

  <div class="field">
    <%= f.label :bio, "Über mich:" %><br>
    <%= f.text_area :bio %>
  </div>

  <!-- Makes one Checkbox per event and markes it green if it is already passed   -->
  <h4><%= f.label :event , 'Bestandene Module wählen:' %><br /></h4> 
  <ol class = "tree1">
    <li class = "profile">
      <label for="Module">Module</label>
      <input type="checkbox" id="tolle_checkbox"  />
      <ol>
        <li class="profile">
          <%= f.collection_check_boxes(:id, Event.order(:title), :id, :title) do |b| %> 
            <% bevent = Event.find(b.value) %>
            <ol id="inner"> 
              <%if current_user.events_users.map(&:event_id).include?(bevent.id) %>
                <%if convert_date_to_number(bevent.events_users.find_by_user_id(current_user.id).semester) == "bestanden" %>
                  <li class="passedfile <%= bevent.cycle %>">   
                    <%= b.label { b.check_box + b.text } %>
                  </li>                               
                <% end %>
                <% else %>
                  <li class="file <%= bevent.cycle %>">                   
                    <%= b.label { b.check_box + b.text } %>
                  </li>
              <% end %>
            </ol> 
            <!-- creating Select Box options by calculating the last 13 Semester -->
            <select name="semester<%= b.value %>" >
              <option selected="true" disabled="disabled">Bitte wählen</option>
              <option><%= get_current_semester_and_year_from_date(Time.now-6.month.to_i) %></option>
              <option><%= get_current_semester_and_year_from_date(Time.now-(6*2).month.to_i) %></option>
              <option><%= get_current_semester_and_year_from_date(Time.now-(6*3).month.to_i) %></option> 
              <option><%= get_current_semester_and_year_from_date(Time.now-(6*4).month.to_i) %></option> 
              <option><%= get_current_semester_and_year_from_date(Time.now-(6*5).month.to_i) %></option> 
              <option><%= get_current_semester_and_year_from_date(Time.now-(6*6).month.to_i) %></option> 
              <option><%= get_current_semester_and_year_from_date(Time.now-(6*8).month.to_i) %></option>
              <option><%= get_current_semester_and_year_from_date(Time.now-(6*9).month.to_i) %></option> 
              <option><%= get_current_semester_and_year_from_date(Time.now-(6*10).month.to_i) %></option> 
              <option><%= get_current_semester_and_year_from_date(Time.now-(6*11).month.to_i) %></option> 
              <option><%= get_current_semester_and_year_from_date(Time.now-(6*12).month.to_i) %></option> 
              <option><%= get_current_semester_and_year_from_date(Time.now-(6*13).month.to_i) %></option> 
            </select> 
            <br>
          <% end %>
        </li>
      </ol>
    </li>
  </ol>

  <div class="actions">
    <%= f.submit "Abschicken", class: "btn btn-success" %>
  </div>

<% end %>


