<h1>Profile</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Vorname</th>
      <th>E-Mail</th>
      <th>Studiengang</th>
      <th>Geburtsdatum</th>
      <th>Über mich</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.family_name %></td>
        <td><%= profile.name %></td>
        <%if profile.user != nil%>      
          <td><%= profile.user.email %></td>
        <%else%>
          <td>Keine User für dieses Profil</td>
        <% end %>
        <%if profile.user.course != nil%>      
          <td><%= profile.user.course.name %></td>
        <%else%>
          <td>Kein Studiengang vorhanden</td>
        <% end %>
        <td><%= profile.birth_date %></td>
        <td><%= profile.bio %></td>
        <td><div class="btn-group btn-group-justified show_edit_del">
          <%= link_to 'Anzeigen', profile , class: 'btn btn-default'%>
          <%= link_to 'Bearbeiten', edit_profile_path(profile) , class: 'btn btn-default'%>
          <%= link_to 'Löschen', profile, method: :delete, data: { confirm: 'Sicher?' } , class: 'btn btn-default'%> 
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Profile', new_profile_path %> 