<%if @profile.user != nil%>
  <p>
    <strong>Name:</strong>
    <%= @profile.family_name %>
  </p>

  <p>
    <strong>Vorname:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong>E-Mail:</strong>      
      <%= @profile.user.email %>
  </p>

  <p>
    <strong>Studiengang:</strong>
      <%if @profile.user.course != nil%>      
        <%= @profile.user.course.name %>
      <%else%>
        Kein Studiengang vorhanden
      <% end %>
  </p>

  <p>
    <strong>Geburtsdatum:</strong>
    <%= @profile.birth_date %>
  </p>

  <p>
    <strong>Über mich:</strong>
    <%= @profile.bio %>
  </p>

  <p>
    <div class="box" style="background-color: #FF8080; height:auto;width: 600px; border-radius: 10px" >
      <% isWritten=false %>
      <% @profile.user.events.each do |eventCondition| %>
        <% if eventCondition.condition != nil%>
          <% @cSplit = eventCondition.condition.split('; ') %>
          <% @cSplit.each do |cSplitted| %>
            <% b = false %>
            <% @profile.user.events.each do |events| %>
              <% if cSplitted.eql? events.identifier %>
                <% b = true %>
              <% end %>
            <% end %>
            <% if !b %>
              <div class="box" style="padding-left:5px;padding-bottom:2px" >
                <% if !isWritten %>
                  <u><strong>
                    <%= "Sie erfüllen die Vorraussetzungen für folgende Veranstaltungen nicht:" %> </br>
                  </u></strong>
                  <% isWritten=true %>
                <% end %>
              <% if Event.find_by_identifier(cSplitted) != nil %>
                <%= link_to "Für " + eventCondition.title + " ist die Vorraussetzung " + Event.find_by_identifier(cSplitted).title + " nicht erfüllt. ", event_path(Event.find_by_identifier(cSplitted)) %> </br>
              <% else %>
                <%= "Für " + eventCondition.title + " ist die Vorraussetzung " + cSplitted + " nicht erfüllt. " %> </br>
              <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </p>

  <p>
    <div class="box" style="background-color:#8DE28D; height:auto;width: 600px; border-radius: 10px" >
      <% isWritten=false %>
      <% @eventAll = Event.all %>
      <% @eventAll.each do |events| %>
        <% if events.condition != nil%>
          <% @cSplit=events.condition.split('; ') %>
          <% conditAll=true %>
          <% @cSplit.each do|cSplitted| %>
            <% found = false %>
            <% @profile.user.events.each do |eventIdent| %>
              <% if !found %>
                <% if cSplitted.eql? eventIdent.identifier %>
                  <% found = true %>
                <% end %>  
              <% end %>
            <% end %>
            <% if !found %>
              <% conditAll = false %>
            <% end %>
          <% end %>
          <% if conditAll %>
            <div class="box" style="padding-left:5px; padding-bottom:2px" >
              <% if !isWritten %>
                <u><strong>
                  <%= "Sie erfüllen die Vorraussetzungen für folgende Veranstaltungen:" %> </br>
                </u></strong>
                <% isWritten=true %>
              <% end %>
              <%= link_to events.title,event_path(events) %> </br>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </p>

  <p>
    <div class="box" style="background-color:#ADD8E6; height:auto;width: 600px; border-radius: 10px" >
      <% @profile.user.events.each do |eventIdent| %>
        <% @eventAll = Event.all %>
        <% @eventAll.each do |events| %>
         <% if events.condition != nil%>
            <% @cSplit=events.condition.split('; ') %>
            <% @cSplit.each do|cSplitted| %>
             <% isWritten = false %>
              <% if cSplitted.eql? eventIdent.identifier %>
                <% @eventAll2 = Event.all %>
                <% @eventAll2.each do |events2| %>
                  <% if events2.condition != nil%>
                    <% @cSplit2=events2.condition.split('; ') %>
                    <% @cSplit2.each do |cSplitted2| %>
                      <% if cSplitted2.eql? events.identifier %>
                        <div class="box" style="padding-left:5px;padding-bottom:2px" >
                        <% if !isWritten %>
                          <% isWritten = true %>
                          <u><strong>
                           <%= link_to "Wenn sie " + events.title + " belegen:", event_path(events) %> </br>
                          </u></strong>
                        <% end %>
                        <%= link_to "Können sie  " + events2.title + " belegen. ", event_path(events2) %> </br>
                        </div>
                      <% end %>
                    <% end %>  
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %> 
    </div>
  </p>

<% else %>
  Für dieses Profil existiert kein Benutzer. </br>
  Falls möglich löschen.
<% end %></br>

<!-- check when we know what happens with profile pages. where can user/admin go -->
<%= link_to 'Bearbeiten', edit_profile_path(@profile), class: 'btn btn-default' %> 
<!-- where should back button lead? -->
<%= link_to 'Zurück', profiles_path, class: 'btn btn-default' %> 
