<div class="container_events">
  <div class="event_container">
    <div class="left_side">
      <%if @profile.user != nil%>
      <h3>
      <%= @profile.name %> <%= @profile.family_name %>
      </h3>
    </div>
  </div>
</div>
<br/>
<div class="container_events">
  <div class="event_container">
    <div class="left_side">
      <strong>Geburtsdatum:</strong>
      <%= @profile.birth_date %>
      <br/>
      <strong>E-Mail:</strong>      
      <%= @profile.user.email %>
      <br/>
      <strong>Studiengang:</strong>
      <%if @profile.user.course != nil%>      
        <%= @profile.user.course.name %>
      <%else%>
        Kein Studiengang vorhanden
      <% end %>
    </div>
  </div>
</div>
<br/>
<div class="container_events">
  <div class="event_container">
    <div class="left_side">
      <strong>Über mich:</strong>
      <%= @profile.bio %>
    </div>
  </div>
</div>


  <p>
    <div class="box" style="background-color: rgba(255,128,128,0.5); width: 100%; border-radius: 5px; " >
      <% isWritten=false %>
      <% @profile.user.events.each do |eventCondition| %>
        <% if eventCondition.condition != nil%>
          <% @cSplit = eventCondition.condition.split('; ') %>
          <% @cSplit.each do |cSplitted| %>
            <% b = false %>
            <% @profile.user.events.each do |events| %>
              <% if cSplitted.eql? events.identifier %>
                <% b = true %>
              <% end %>
            <% end %>
            <% if !b %>
              <div class="box" style="padding-left: 2%;" >
                <% if !isWritten %>
                  <br/>
                  <u style="line-height:1.5vw;  font-size: 1.25vw; text-decoration:none;"><strong>
                    <%= "Sie erfüllen die Vorraussetzungen für folgende Veranstaltungen nicht:" %> </br>
                  </u></strong>
                  <% isWritten=true %>
                <% end %>
<!--               <% if Event.find_by_identifier(cSplitted) != nil %>
                <%= link_to "Für " + eventCondition.title + " ist die Vorraussetzung " + Event.find_by_identifier(cSplitted).title + " nicht erfüllt. ", event_path(Event.find_by_identifier(cSplitted)), :class =>'our_link' %>
               <% else %> -->

               <!-- removed link to needed event, now only the event which was wrongly added to your plan is linked -->
                <%= link_to "Für " + eventCondition.title + " ist die Vorraussetzung " + cSplitted + " nicht erfüllt. ", event_path(Event.find_by_title(eventCondition.title)), :class => 'our_link' %> </p>
              <!-- <% end %> -->
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <br/>
    </div>
  </p>

  <p>
    <div class="box" style="background-color: rgba(141,226,141,0.5); width: 100%; border-radius: 5px; " >
      <% isWritten=false %>
      <% @eventAll = Event.all %>
      <% @eventAll.each do |events| %>
        <% if events.condition != nil%>
          <% @cSplit=events.condition.split('; ') %>
          <% conditAll=true %>
          <% @cSplit.each do|cSplitted| %>
            <% found = false %>
            <% @profile.user.events.each do |eventIdent| %>
              <% if !found %>
                <% if cSplitted.eql? eventIdent.identifier %>
                  <% found = true %>
                <% end %>  
              <% end %>
            <% end %>
            <% if !found %>
              <% conditAll = false %>
            <% end %>
          <% end %>
          <% if conditAll %>
            <% if @profile.user.events.find_by_identifier(events.identifier) == nil %>
              <div class="box" style="padding-left: 2%;" >
                <% if !isWritten %>
                  <br/>
                  <u style="line-height:1.5vw; font-size: 1.25vw; text-decoration:none;"><strong>
                  <%= "Sie erfüllen die Vorraussetzungen für folgende Veranstaltungen:" %> </br>
                  </u></strong>
                <% isWritten=true %>
                <% end %>
                 <u style="line-height:1.5vw; text-decoration:none;"><%= link_to events.title,event_path(events), :class=>'our_link' %> </u>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </br>
    </div>
  </p>

  <p>
    <div class="box" style="background-color: rgba(173,216,230,0.5); height:auto;width: 100%; border-radius: 5px;" >
      <% @profile.user.events.each do |eventIdent| %>
        <% @eventAll = Event.all %>
        <% @eventAll.each do |events| %>
         <% if events.condition != nil%>
            <% @cSplit=events.condition.split('; ') %>
            <% @cSplit.each do|cSplitted| %>
             <% isWritten = false %>
              <% if cSplitted.eql? eventIdent.identifier %>
                <% @eventAll2 = Event.all %>
                <% @eventAll2.each do |events2| %>
                  <% if events2.condition != nil%>
                    <% @cSplit2=events2.condition.split('; ') %>
                    <% @cSplit2.each do |cSplitted2| %>
                      <% if cSplitted2.eql? events.identifier %>
                        <% if @profile.user.events.find_by_identifier(events.identifier) == nil %>
                          <div class="box" style="padding-left: 2%;" >
                            <% if !isWritten %>
                              <% isWritten = true %>
                              <br/>
                              <u style="line-height:1.5vw; font-size: 1.25vw; text-decoration:none;"><strong>
                                <%= link_to "Wenn sie " + events.title + " belegen:", event_path(events), :class=>'our_link_head'%> </br>
                              </u></strong>
                            <% end %>
                            <%= link_to "Können sie  " + events2.title + " belegen. ", event_path(events2), :class=>'our_link' %> </br>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>  
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %> 
      <br/>
    </div>
  </p>

<% else %>
  Für dieses Profil existiert kein Benutzer. </br>
  Falls möglich löschen.
<% end %></br>

<!-- check when we know what happens with profile pages. where can user/admin go -->
<%= link_to 'Bearbeiten', edit_profile_path(@profile), class: 'btn btn-default' %> 
<!-- where should back button lead? -->
<% if can? :manage, @profile %>
<%= link_to 'Zur Benutzerübersicht', users_path, class: 'btn btn-default' %> 
<% end %>
