<%if @profile.user != nil%>
  <p>
    <strong>Name:</strong>
    <%= @profile.family_name %>
  </p>

  <p>
    <strong>Vorname:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong>E-Mail:</strong>      
      <%= @profile.user.email %>
  </p>

  <p>
    <strong>Studiengang:</strong>
      <%if @profile.user.course != nil%>      
        <%= @profile.user.course.name %>
      <%else%>
        Kein Studiengang vorhanden
      <% end %>
  </p>

  <p>
    <strong>Geburtsdatum:</strong>
    <%= @profile.birth_date %>
  </p>

  <p>
    <strong>Über mich:</strong>
    <%= @profile.bio %>
  </p>

  <p>
      <% @profile.user.events.each do |eventCondition| %>
        <% if eventCondition.condition != nil%>
          <% @cSplit = eventCondition.condition.split('; ') %>
          <% @cSplit.each do |cSplitted| %>
            <% b = false %>
            <% @profile.user.events.each do |events| %>
              <% if cSplitted.eql? events.identifier %>
                <% b = true %>
              <% end %>
            <% end %>
            <% if !b %>
              <div class="box" style="background-color: #FFFF43; height:auto;width: 400px;padding:5px" >
              <% if Event.find_by_identifier(cSplitted) != nil %>
                <%= link_to "Für " + eventCondition.title + " ist die Vorraussetzung " + Event.find_by_identifier(cSplitted).title + " nicht erfüllt. ", event_path(Event.find_by_identifier(cSplitted)) %> </br>
              <% else %>
                <%= "Für " + eventCondition.title + " ist die Vorraussetzung " + cSplitted + " nicht erfüllt. " %> </br>
              <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
 </p>

<% else %>
  Für dieses Profil existiert kein Benutzer. </br>
  Falls möglich löschen.
<% end %></br>

<!-- check when we know what happens with profile pages. where can user/admin go -->
<%= link_to 'Bearbeiten', edit_profile_path(@profile), class: 'btn btn-default' %> 
<!-- where should back button lead? -->
<%= link_to 'Zurück', profiles_path, class: 'btn btn-default' %> 
