<!-- layout of new event. if problems or wishes. please let design team know -->

<%= form_for(@event) do |f| %>
<div class="same_width2">

  <div class="field">
    <%= f.label :identifier, 'Kürzel' %><br>
    <%= f.text_field :identifier, class: "same_width2_in3" %>
  </div>

  <div class="field">
    <%= f.label :title, 'Titel' %><br>
    <%= f.text_field :title, class: "same_width2_in2"%>
  </div>

  <div class="field text-event">
    <%= f.label :description, 'Beschreibung' %><br>
    <%= f.text_area :description, class: "text-event same_width2_in2" %>
  </div>

  <div class="field">
    <%= f.label :prof, 'Professor' %><br>
    <%= f.text_field :prof, class: "same_width2_in2" %>
  </div>

  <table>
  <tr>
  <td>
  <div class="field">
    <%= f.label :credits, 'Credits' %><br>
    <%= f.number_field :credits , class: "same_width2_in1"%>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :sws, 'SWS' %><br>
    <%= f.number_field :sws ,class: "same_width2_in1"%>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :cycle, 'Zyklus' %><br>
    <%= f.select :cycle, [ 'Jedes Wintersemester','Jedes Sommersemester','Jedes Semester', 'Jedes Wintersemester (ungerade)', 'Jedes Wintersemester (gerade)', 'Jedes Sommersemester (ungerade)', 'Jedes Sommersemester (gerade)', 'Nicht regelmäßig' ], :prompt => 'Bitte auswählen',class: "same_width2_in1" %>
  </div>
  <div id="nextDate" class="field" style="display: none;" >
    <%= f.label :schedules, 'Nächster Termin' %><br>
        <!-- the next 4 semesters are able to choose -->
        <%= f.select :schedules, options_for_select( [ get_current_semester_and_year_from_date(Time.now+6.month.to_i) , get_current_semester_and_year_from_date(Time.now+12.month.to_i) , get_current_semester_and_year_from_date(Time.now+18.month.to_i) , get_current_semester_and_year_from_date(Time.now+24.month.to_i)] ),{}, {:multiple => true}  %> 
       
  </div>
  </td>
  </tr>
  </table>

  <div class="field">
    <%= f.label :exam_type, 'Prüfungsart' %><br>
    <%= f.text_field :exam_type, class: "same_width2_in2" %>
  </div>

  <div class="field">
    <%= f.label :condition, 'Bedingung' %><br>
    <%= f.text_field :condition, class: "same_width2_in2" %>
  </div>

  <div class="actions">
    <%= f.submit "Änderungen übernehmen", class: "btn btn-success" %>
  </div>
</div>

<% end %>
