<%= stylesheet_link_tag "custom.css" %>



<p>
  <strong>Kürzel:</strong>
  <%= @event.identifier %>
</p>

<p>
  <strong>Titel:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @event.prof %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @event.credits %>
</p>

<p>
  <strong>SWS:</strong>
  <%= @event.sws %>
</p>

<p>
  <strong>Zyklus:</strong>
  <%= @event.cycle %>
</p>

<p>
  <strong>Prüfungsart:</strong>
  <%= @event.exam_type %>
</p>

<p>
  <strong>Bedingung:</strong>
  <%= @event.condition %>
</p>


<p>
<!-- if logged in, show the Button to mark an event-->
  <% if logged_in? %>
    <% unless @event.users.find_by(id: current_user.id) %>
      <p>
        <!-- <%= button_to "Veranstaltung belegen", :action => "mark_event", :id => @id%> -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Vormerken</button>
      </p>
    <% else %>
       <p>
         <strong>Die Veranstaltung <%= @event.title %> ist belegt!</strong>
      </p>
    <%end %>
  <% end %>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Veranstaltung vormerken</h4>
      </div>
      <div class="modal-body">
      <p>
      <label><%=  @event.cycle  %></label>
      <!-- Saves the cycle of the event into variable a -->
      <% curr_cycle = @event.cycle.split(" ")[1] %>
      <% curr_cycle_year = @event.cycle.split(" ")[2] %>
      <% if curr_cycle == "Semester" %>
        <% a = 1 %>
      <% elsif curr_cycle_year %>
        <% a = 4 %>
      <% elsif  not curr_cycle == "regelmäßig" %>
        <% a = 2 %>
      <% else %>
        <% a= 100 %>
      <% end %>
      <!-- if the current semester does not match die semester cycle of the event, add half a year to the date -->
      <% b = 0 %>
      <% unless @event.cycle.include? get_current_semester_and_year_from_date(Time.now).split(" ")[0] or (@event.cycle == "Jedes Semester") %>
        <% b = b+6 %>
      <% end %>
      <!--if Event only runs in straight years (odd years) add a whole year to the date b,
      but only if the year, the semester starts, is an odd year (straight year) -->
      <% unless (Time.now.month<4)%>
        <% yea = Time.now.year.to_i%>
      <%else%>
        <% yea = Time.now.year.to_i-1%>
      <%end%>
      <% if curr_cycle_year == "(ungerade)" && ((yea % 2) == 0) %>
        <% b = b+12 %>
      <% end %>
      <% if curr_cycle_year == "(gerade)" && ((yea % 2) == 1) %>
        <% b = b+12 %>
      <% end %>

        <form method="POST" action="/courses" id="23" >
          <select name="semesters" id = "24" >
            <option><%= get_current_semester_and_year_from_date(Time.now+b.month.to_i) %></option>
            <option><%= get_current_semester_and_year_from_date(Time.now+(6*a+b).month.to_i) %></option>
            <option><%= get_current_semester_and_year_from_date(Time.now+(6*2*a+b).month.to_i) %></option>
            <option><%= get_current_semester_and_year_from_date(Time.now+(6*3*a+b).month.to_i) %></option> 
          </select>    
        </form>
        </p>
        <div id="selector">
          <%= button_to "Veranstaltung belegen", :action => "mark_event", :id => @id, :semester => "" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zurück</button>
      </div>
    </div>

  </div>
</div>

<br>
<br>

<% if can? :edit, Event %>
  <%= link_to 'Bearbeiten', edit_event_path(@event), class: 'btn btn-default' %>
<%end%>
<!-- back button incorrect, should lead to event page ??? -->
<%= link_to 'Zurück', :events, class: 'btn btn-default' %>