<%= stylesheet_link_tag "custom.css" %>

<div class="container_events">
  <div class="event_container">
  <div class="left_side">
  <h3>  <%= @event.identifier %> - <%= @event.title %></h3>
  <h4>
    <strong>Professor:</strong>
    <%= @event.prof %>
  </h4>
  </div>
  <div class="right_side">
  <br/>
    <strong>ECTS:</strong> <%= @event.credits %> <br/>
    <strong>SWS:</strong> <%= @event.sws %><br/>
    <strong>Zyklus:</strong> <%= @event.cycle %>
    <% if @event.cycle == "Nicht regelmäßig" %>
        <br>
        <strong>Nächste Termine:</strong>
        <% @event.schedules.each do |schedule| %>
          <%= schedule.date %> <br>
        <% end %>
      
    <% end %> 
  </div>
  </div>

  <br/>

  <div class="left_side">
    <strong>Prüfungsart:</strong>
    <%= @event.exam_type %>
  </div>

  <div class="right_side"><strong>Vorraussetzungen:</strong>
   <%= @event.condition %>
  </div>
</div>

<br/>
<br/>
<div class="container_events">
<p style="font-size: 1.15vw; line-height: 1.3vw;">
  <strong>Beschreibung:</strong>
  <%= @event.description %>
</p>

</div>
<br/>
  
  <!-- if logged in, show the Button to mark an event-->
  <% if logged_in? %>
    <% unless @event.users.find_by(id: current_user.id) %>

        <!-- <%= button_to "Veranstaltung hinzufügen", :action => "mark_event", :id => @id%> -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Hinzufügen</button>
    <% else %>
    <p class="info_txt">
         <strong>Die Veranstaltung <%= @event.title %> wurde zu deinem Plan hinzugefügt!</strong>
    </p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ändern oder Entfernen</button>
    </br>
    <%end %>

    <% if can? :edit, Event %>
  <%= link_to 'Bearbeiten', edit_event_path(@event), class: 'btn btn-default' %>
<%end%>
  <% end %>
  <!-- back button incorrect, should lead to event page ??? -->
<%= link_to 'Zurück zu den Veranstaltungen', :events, class: 'btn btn-default' %>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Veranstaltung belegen</h3>
      </div>
      <div class="modal-body">
      <p>
      <h4>Angebot: <%=  @event.cycle  %></h4>
      <!-- Saves the cycle of the event into variable a -->
      <% curr_cycle = @event.cycle.split(" ")[1] %>
      <% curr_cycle_year = @event.cycle.split(" ")[2] %>
      <% if curr_cycle == "Semester" %>
        <% a = 1 %>
      <% elsif curr_cycle_year %>
        <% a = 4 %>
      <% elsif  not curr_cycle == "regelmäßig" %>
        <% a = 2 %>
    
      <% end %>
      <!-- if the current semester does not match die semester cycle of the event, add half a year to the date -->
      <% b = 0 %>
      <% unless @event.cycle.include? get_current_semester_and_year_from_date(Time.now).split(" ")[0] or (@event.cycle == "Jedes Semester") %>
        <% b = b+6 %>
      <% end %>
      <!--if Event only runs in straight years (odd years) add a whole year to the date b,
      but only if the year, the semester starts, is an odd year (straight year) -->
      <% unless (Time.now.month<4)%>
        <% yea = Time.now.year.to_i%>
      <%else%>
        <% yea = Time.now.year.to_i-1%>
      <%end%>
      <% if curr_cycle_year == "(ungerade)" && ((yea % 2) == 0) %>
        <% b = b+12 %>
      <% end %>
      <% if curr_cycle_year == "(gerade)" && ((yea % 2) == 1) %>
        <% b = b+12 %>
      <% end %>

        <form method="POST" action="/courses" id="23" >
          <select name="semesters" id = "24" class="form-control" style="width:50%;">
          <% if @event.cycle != "Nicht regelmäßig" %>
            <option><%= get_current_semester_and_year_from_date(Time.now+b.month.to_i) %></option>
            <option><%= get_current_semester_and_year_from_date(Time.now+(6*a+b).month.to_i) %></option>
            <option><%= get_current_semester_and_year_from_date(Time.now+(6*2*a+b).month.to_i) %></option>
            <option><%= get_current_semester_and_year_from_date(Time.now+(6*3*a+b).month.to_i) %></option> 
          <% elsif %>
            <% @event.schedules.where.not(date: '').each do |s| %>
              <option><%= s.date %></option>
            <% end %>
          <% end %>
          </select>    
        </form>
        </p>
        <% unless @event.users.find_by(id: current_user.id) %>
        <div id="selector">
          <%= button_to("Veranstaltung belegen", {:action => "mark_event", :id => @id, :semester => ""}, :class => "btn btn-success") %>
        </div>
        <%else%>
          <div class="my_div_container">
            <div id="selector" class="my_div_2">
            <%= button_to("Veranstaltung belegen", {:action => "mark_event", :id => @id, :semester => ""}, :class => "btn btn-success") %>
            </div>
          <div class="my_div_2">  
          <%= button_to("Veranstaltung abwählen", {:action => "demark_event", :id => @id}, :class => "btn btn-danger") %>
          </div>
          </div>
          <%end%>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zurück</button>
      </div>
    </div>

  </div>
</div>
<br/>
<br/>
 <strong>Rating</strong>
<!-- Displays the single stars for Average Rating -->
 <% query = "SELECT (avg(attend) + avg(tough) + avg(effort) + avg(share) + avg(material)) / 5 FROM ratings WHERE attend != 0 AND tough != 0 AND effort != 0 AND share != 0 AND material != 0 AND event_id = " + @event.id.to_s + ";" %>
 <% records_result = ActiveRecord::Base.connection.execute(query) %>
 <% result = records_result.getvalue(0, 0) %>
  <% (1..5).each do |i| %>
    <%if i <= (result.to_f + 0.5) %>
      <li class="rating_avg" ></li>
    <% else %>
      <li class="rating_rest" ></li>
    <% end %>
  <% end %>
</p>

<%= link_to 'Detailsbewertung ansehen', rating_path(@event.ratings.find_or_create_by(user_id: current_user.id)), class: 'btn btn-default' %>
