<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/drilldown.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<% query = "Select "
%>

<script>
$(function () {
    var chart,
        colors = Highcharts.getOptions().colors;
    
    function setChart(name, categories, data, color) {
        chart.xAxis[0].setCategories(categories);
        chart.series[0].remove();
        chart.addSeries({
            name: name,
            data: data,
            color: color || 'white'
        });
    }
    
    $(document).ready(function() {
        var categories = [
        <% @blocks.each do |block| %>
            '<%=block.name%>',
            <%end%>],
            name = 'Modul',
            data = [
            <%color_counter = 0%>
                <%@blocks.each do |block| %>
                        <% avgrating = 0%>
                        <%block.events.each do |event|%>
                            <% avgrating +=event.avg_rating("attend")%>
                        <%end%>
                        {
                        y: <%= (avgrating/block.events.count).round(2) %>,
                        color: colors[<%=color_counter%>],
                        drilldown: {
                        name: '<%=block.name%> Veranstaltungen',
                        categories: [
                        <%block.events.each do |event|%>
                            '<%=event.title%>',
                        <%end%>],
                        data: [
                        <%block.events.each do |event|%>
                        <%=event.avg_rating("attend")%>,
                        <%end%>],
                        color: colors[0]
                                    }
                        },
                <%color_counter += 1%>        
                <%end%>];
    
      
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Beliebtesten Veranstaltungen'
            },
            subtitle: {
                text: 'Ratings pro Block'
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: 'Ratings (★)'
                }
            },
            plotOptions: {
                column: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                var drilldown = this.drilldown;
                                if (drilldown) { // drill down
                                    setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                                } else { // restore
                                    setChart(name, categories, data);
                                }
                            }
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        color: colors[0],
                        style: {
                            fontWeight: 'bold'
                        },
                        formatter: function() {
                            return this.y +' ★';
                        }
                    }
                }
            },
            tooltip: {
                formatter: function() {
                    var point = this.point,
                        s = this.x +':<b> '+ this.y +' ★</b><br/>';
                    if (point.drilldown) {
                        s += 'Hier klicken um '+ point.category +" anzusehen";
                    } else {
                        s += 'Hier klicken um zur Modulübersicht zu gelangen';
                    }
                    return s;
                }
            },
            series: [{
                name: name,
                data: data,
                color: 'white'
            }],
            exporting: {
                enabled: false
            }

        });
    });
    




    $('.update').on('click', function() {
        var newData = [{
            name: 'MSIE versions',
            categories: ['MSIE 6.0', 'MSIE 7.0', 'MSIE 8.0', 'MSIE 9.0'],
            data: [1, 2, 3, 4],
            color: colors[0]
        }];
        jQuery.each(newData, function(i, serie) {
            setChart(serie.name, serie.categories, serie.data, serie.color);        
        });
    });
    
});
</script>