<script>
  $(function() {
    $("div2").hide();

    $(".Bewertung").click(function(event) {
      event.preventDefault();
      $("div2").toggle();
    });
  });
</script>

<head>
  <center>
    <h3>
    <strong>
      Bewertung der Veranstaltung: 
      <%=@event.title%> 
    </strong>
    </h3>
  </center>
</head>
<br/>
<center>
<table> 
  <thead>
    <th style="width: 30%"/>
    <th style="width: 2.5%"/>
    <th style="width: 20%"/>
    <th style="width: 2.5%"/>
    <th style="width: 20%"/>
    <th style="width: 2.5%"/>
    <th style="width: 20%"/>
  </thead>
  <tbody>  
    <tr>
      <th/>
      <th/>
      <th style="font-size:1.5vw;line-height:1.5vw;color:black;">
        alle Benutzer
      </th>
      <th/>
      <th style="font-size:1.5vw;line-height:1.5vw; color:black;">
          eigenes Rating

      </th>
      <th/>
      <th>   
      <%if @user.events_users.find_by_event_id(@event.id) %>
        <center>
           <a class="Bewertung no_link" href ="#"> Bewertung abgeben</a>
        </center>
      <%end%>
      </th>
    </tr>
    <tr style="height: 1vw;">
  </tr>
    <!--  Arrays for tooltip, name rating-category and column name -->
    <%tooltip = [ 
         "Die Anwesenheit in der Vorlesung wird (nicht) empfohlen: 1 - 5 Sterne | nicht empfohlen - empfohlen",     
         "Der Anspruch der Veranstaltung: 1 - 5 Sterne | hardcore - easy",
         "Arbeitsaufwand der gesamten Verstaltung (z.B. für Übung, Tutorium, Vor- und Nacharbeiten): 1 - 5 Sterne | viel - wenig", 
         "Die praktische Anwendung der in der Vorlesung vermittelten Theorien: 1 - 5 Sterne | reine Theorie - viel Anwendungen", 
         "Nutzen des Arbeitsmateriales (z.B. Skript, Aufzeichnung): 1 - 5 Sterne | nicht hilfreich - hilfreich"]%>
    <%rating_category = ["Teilnahme", "Schwierigkeit", "Arbeitsaufwand","Verhältnis Theorie/Praxis", "Arbeitsmaterial"]%>
    <%column_name = ["attend", "tough", "effort" , "share", "material"]%>
  <% (0..4).each do |a|%>
    <tr>
      <td>
        <span style="font-size:1.75vw;line-height:2.2vw;" class="has-tooltip" data-toggle="tooltip" title="<%=tooltip[a]%>"><%=rating_category[a]%></span>
      </td>
      <td/>
      <td>
        <% (1..5).each do |i| %>
          <%if i <= @event.avg_rating("#{column_name[a]}") %>
            <li class="rating_avg" ></li>
          <% else %>
            <li class="rating_rest" ></li>
          <% end %>
        <% end %>
      </td>
      <td/>
      <td>
        <% (1..5).each do |i| %>
          <%if i <= @rating.send(column_name[a])%>
             <li class="rating_avg" ></li>
          <% else %>
            <li class="rating_rest" ></li>
          <% end %>
        <% end %>
      </td>
      <td/>
      <td> 
      <%if @user.events_users.find_by_event_id(@event.id) %>
        <!-- if user clicks link rating is visible   -->
          <div2>
            <!--if the user is logged in, he can see the stars to click.  -->
            <% form_id = "event_#{@event.id}_rating_#{column_name[a]}" %>
            <% if logged_in? %> <!-- To avoid throwing an exception if no user is signed in-->
              <% user_id = current_user.id %>
              <% rating =  @event.ratings.find_or_create_by(user_id: user_id) %>

              <%= form_for rating, :html => {:id => form_id, :class => "star_rating_form"} do |f| %>
                <%= f.hidden_field :event_id, :value => @event.id %>
                <% if logged_in? %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                <% end %>        
                <%= f.hidden_field :"#{column_name[a]}", :id => form_id + "_stars" %>
              <% end %>
              <% (1..5).each do |i| %>
               <li class="rating_star" id="<%= form_id %>_<%= i %>" data-stars="<%= i %>" data-form-id="<%= form_id %>" data-column="<%=column_name[a]%>" data-rating-id="<%= rating.id %>"></li>
              <% end %>
            <% end %>
          </div2>
      <%end%>
      </td>
  <%end%>
  <tr style="height: 2vw;">
  </tr>
  <tr>
    <td/>
    <td/>
    <td/>
    <td/>
    <td/>
    <td/>
    <td>
      <div2>
        <%= link_to 'Abstimmen', "/ratings/" + @rating.id.to_s, class: 'btn btn-success' %>
      </div2>
    <td/>
  </tr>
</table>
</center>
