<h1>Blöcke</h1>

<!-- changed layout of table -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Zu erreichende Credits</th>
      <th>Veranstaltungen</th>
      <th style="width:20%"></th>
    </tr>
  </thead>

  <!-- import progress bar from web, not trivial to handle alternatively -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/trontastic/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <div class="blockCount" value="<%= @blocks.count %>">
  <% progressbarId = 0 %>

  <!-- changed links to buttons -->
  <!-- added tooltip to glyphicons -->
  <tbody>
    <% @blocks.order("name").each do |block| %>
      <tr>
        <td><%= block.name %></td>
        <td><%= block.credits_min %></td>
        <td>
          <table class="table2">
            <% e = block.events.order("title").map %>
              <% e.each do |event| %>
                <% if current_user && current_user.events_users.map(&:event_id).include?(event.id) %>
                  <% semester = event.events_users.find_by_user_id(current_user.id).semester %>
                  <% unless semester.nil? %>
                    <% case convert_date_to_number(semester) %>
                      <% when "bestanden" %>
                        <tr>
                          <td style="color:#8DE28D">
                            <%= event.title + " (" + event.credits.to_s + ")" %>
                            <br/>
                          </td>
                        </tr>
                      <%when "geplant"%>
                        <tr>
                          <td style="color:#45C3E6">
                            <%= event.title + " (" + event.credits.to_s + ")" %>
                            <br/>
                          </td>
                        </tr>
                    <% end %>
                  <% end %>
                <% else %>
                  <tr>
                    <td>
                      <%= event.title + " (" + event.credits.to_s + ")" %>
                      <br/>
                    </td>
                  </tr>
                <% end %>
            <% end %>
        </table>
        </td>
        <% if current_user && current_user.role != 'admin' && current_user.course%>
          <% sql = "SELECT sum(events.credits) FROM users, blocks, events, events_users, blocks_events WHERE " + current_user.id.to_s  + " = users.id AND users.id = events_users.user_id AND events_users.event_id = events.id AND events.id = blocks_events.event_id AND blocks_events.block_id = blocks.id AND blocks.id = " + block.id.to_s + ";" %>
          <% records_result = ActiveRecord::Base.connection.execute(sql) %>
          <% result = records_result.getvalue(0, 0) %>
          <% if result.nil? %>
            <% result = 0 %>
          <% end %>
          <% progressbarId += 1 %>
          <td>
          <%= result.to_s + " / " + block.credits_min.to_s + " ECTS" %>
          <div id="<%= progressbarId %>" class="progressbar" value="<%= result %>" max="<%= block.credits_min %>"></div>
        <% else %>
          <td>
        <% end %>
        <div class="btn-group btn-group-justified">
          <% if can? :edit, @block %>
          <%= link_to edit_block_path(block), class: "btn btn-default" do %>
            <span class="has-tooltip" data-toggle="tooltip" title="Bearbeiten">            
              <i class="glyphicon glyphicon-pencil middle_icon"></i>
            </span>
          <% end %>
          <% end %>
          <% if can? :destroy, @block %>
          <%= link_to block, method: :delete, data: { confirm: 'Sicher?' } , class: "btn btn-default" do %>
            <span class="has-tooltip" data-toggle="tooltip" title="Löschen">
              <i class="glyphicon glyphicon-trash middle_icon"></i>
            </span>
          <% end %>
          <% end %>
          </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Block', new_block_path, class: "btn btn-success" %>
