<h1>Blöcke</h1>

<!-- changed layout of table -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Zu erreichende Credits</th>
      <th>Veranstaltungen</th>
      <th style="width:20%"></th>
    </tr>
  </thead>

<!-- changed links to buttons -->
  <tbody>
    <% @blocks.order("name").each do |block| %>
      <tr>
        <td><%= block.name %></td>
        <td><%= block.credits_min %></td>
        <td><%= block.events.map { |a| a.title }.join("<br>").html_safe %></td>
        <td>
        <div class="btn-group btn-group-justified">
          <%= link_to block, class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-eye-open middle_icon"></i>
          <% end %>
          <% if can? :edit, @block %>
          <%= link_to edit_block_path(block), class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-pencil middle_icon"></i>
          <% end %>
          <% end %>
          <% if can? :destroy, @block %>
          <%= link_to block, method: :delete, data: { confirm: 'Sicher?' } , class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-trash middle_icon"></i>
          <% end %>
          <% end %>
          </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Block', new_block_path, class: "btn btn-success" %>
