<div class="container_events">
  <div class="event_container">
  <div class="left_side">

<h3>
  <%= @block.name %>
</h3>
</div>
<div class="right_side" style="position: relative;
  transform: translateY(60%);">
<h4 style="font-size: 1.4vw">
  Zu erreichende Credits: <%= @block.credits_min %>
</h4>
</div>
</div>
</div>
<br/>
<div class="container_events">
  <h4><strong>Veranstaltungen:</strong></h4>
  <%= @block.events.map { |a| a.title }.join("<br/>").html_safe %>

</div>

<br/>
<%= link_to 'Bearbeiten', edit_block_path(@block), class: "btn btn-default" %> 
<%= link_to 'Zurück zu den Blöcken', '/blocks', class: "btn btn-default" %>
