<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/drilldown.js"></script>
<%begin%>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<!-- sql query select all semester from event of the current user -->

<%semester_user = executesqlarray("SELECT semester FROM events_users eu, events e WHERE e.id = eu.event_id  and user_id =" + @users.id.to_s + " GROUP BY semester ;")%>

<!-- need to determine the range of the chart  -->           
<%diff = (max_semester(semester_user)-min_semester(semester_user))/5%>


<script>
$(function () {
    $('#container').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Erreichte Credits je Semester'
        },
        subtitle: {
            text: ''
        },
        xAxis: [{
            categories: [
             <%(0..diff-1).each do |i|%> 
            '<%=encrypt(min_semester(semester_user)+(i*5))%>',<%end%>
            ],
            crosshair: true
        }],
        yAxis: [{ // Primary yAxis
            min: 0,
            max: 50,
            labels: {
                format: '{value} LP',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'durchschnittlich zu erreichende Credits - Regelstudienzeit',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        }, { // Secondary yAxis
            min: 0,
            max: 50,
            title: {
                text: 'erreichte Credits',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value} LP',

                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 120,
            verticalAlign: 'top',
            y: 100,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        series: [{
            name: 'erreichte Credits',
            type: 'column',
            yAxis: 1,
            data: [ 
            
            <%(0..diff-1).each do |i|%> 
          
                <%begin%> //handling ArgumentError for semester without events
                <%=credits = executesql("SELECT sum(e.credits) FROM events_users eu, events e WHERE e.id=eu.event_id and eu.user_id =" + @users.id.to_s + " and eu.semester ="+"'"+(encrypt(min_semester(semester_user)+(i*5))).to_s+"'" +" GROUP BY eu.semester ;")%>
                <%rescue ArgumentError%>
                <%=0%><%end%>,
            
            <%end%>
            ],
            tooltip: {
                valueSuffix: ' LP'
            }

        }, {
            name: '⌀ benötigte Credits ',
            type: 'spline',
            data: [ <%(0..diff-1).each do |i|%> 
            <%if(i>5)%><%=180/(i+1)%>
            <%else%><%=30%>
                <%end%>, <%end%>],
            tooltip: {
                valueSuffix: ' LP'
            }
        },{
            name: '⌀ Credits Regelstudienzeit',
            type: 'spline',
            data: [ <%(0..5).each do |i|%> 
            30.0, <%end%>],
            tooltip: {
                valueSuffix: ' LP'
            }
        },
        {
            name: '⌀ erreichte Credits',
            type: 'spline',
            data: [  <% sum_credits =0%>
            <%(0..diff-1).each do |i|%> 
            <%credits = 0%>
                <%begin%> //handling ArgumentError for semester without events
                <%credits = executesql("SELECT sum(e.credits) FROM events_users eu, events e WHERE e.id=eu.event_id and eu.user_id =" + @users.id.to_s + " and eu.semester ="+"'"+(encrypt(min_semester(semester_user)+(i*5))).to_s+"'" +" GROUP BY eu.semester ;")%>
                <%rescue ArgumentError%>
                <%0%><%end%>
            <%sum_credits += credits.to_i%>
            <%=(sum_credits)/(i+1)%>,
            <%end%>],
            tooltip: {
                valueSuffix: ' LP'
            }
        }]
    });
});
</script>
<%rescue%>
<div class="nodata" align="left">
<img src="/study-administration/app/assets/nodata.jpg"></img>
</div>
Keine ausreichenden Daten
<%end%>