<%= stylesheet_link_tag "course_overview.css" %>

<ol class = "tree">
  
  <li class = "course">
    <!-- Layer 1: heading -->
    <span class="glyphicon glyphicon-folder-close"></span>
    <label for="Studiengaenge">Studiengaenge</label>
    <input type="checkbox" id="Studiengaenge" />

      <!-- Layer 2: study programs -->
      <ol>
      <% @courses.order("name").each do |c| %>
        <li class = "course">
          <span class="glyphicon glyphicon-folder-close"></span>
                    <label for="c"><%= link_to c.name %></label>
          <input type="checkbox"  id="c" />

          
            <!-- Layer 3: Blocks -->
            <ol>
              <% e = c.blocks.order("name").map %>               
              <% e.each do |blocks| %>
                <li class = "course">
                    <span class="glyphicon glyphicon-folder-close"></span>
                    <label for="blocks"><%= link_to blocks.name, blocks %></label>
                    <input type="checkbox"  id="blocks"/>

                    <!-- Layer 4: Events -->
                    <ol>
                        <% f = blocks.events.order("title").map %>
                        <% f.each do |events| %>
                          <li class="file">
                          <span class="glyphicon glyphicon-file"></span>
                          <%= link_to events.title, events %>
                          <!-- <input type="checkbox"  id="Events" /> -->
                          </li>
                        <% end %>

                    </ol>
                </li>
              <% end %>
            </ol>


        </li>
        <% end %>
    </ol>

  </li>
</ol>

<%= link_to 'New Course', new_course_path %>