<%= stylesheet_link_tag "courseOverview.css" %>

<p>
<label> Aktuelles Semester: <%= get_current_semester_and_year_from_date(Time.now) %> </label>
</p>

<form method="POST" action="/courses">
   <select name="semesters" id = "42" >
      <option>Alle</option> 
      <option>Sommersemester</option>
      <option>Wintersemester</option>
      <option>Unregelmäßig</option> 
      
   </select>

  </form>


<br>

  <%if logged_in?%>

    <!-- Ebene 1: Courses -->
    <!-- get_current_semester calculates and displays the current Semester.-->
    <label for="Studiengang">Mein persönlicher Studiengang</label>
  
      <ol class = "tree">
      <%course = @courses.find_by_id(current_user.course_id) %>
      <% unless course.nil? %>
        <li class = "course">
          <label for="course"><%=    link_to course.name,  course %></label>
          <input type="checkbox"  id="course" style="width: 20px; height: 20px;"/>
            <ol id="outer">
              <!-- Ebene 2: Blocks -->
              <% e = course.blocks.order("name").map %>
              <% e.each do |blocks| %>
                <li class = "course">
                    <!-- <span class="glyphicon glyphicon-folder-close"></span> -->
                    <label for="blocks"><%= link_to blocks.name, blocks %></label>
                    <input style="border: solid green 1px !important;" type="checkbox"  id="blocks"/>
                      <ol id="inner">

                          

                          <% f = blocks.events.order("title").map %>
                          <% f.each do |events| %>
                              <li class="file <%= events.cycle %>">
                                    <%= link_to events.title, events %>
                              </li>
                          <% end %>
                      </ol>
              </li>
              <% end %>
            </ol>


        </li>
      <% end %>
    </ol>
 

<%end%>


<%= link_to 'Neuer Studiengang', new_course_path, class: 'btn btn-success' %>

<%= params[:semesters] %>
