<div class="container_events">
  <div class="event_container">
  <div class="left_side">

<h3>
  <%= @course.degree %>  <%= @course.name %>
</h3>
</div>
</div>
</div>
<br/>
<div class="container_events">
  <h4><strong>Blöcke:</strong></h4>
  <%= @course.blocks.map { |a| a.name }.join("<br/>").html_safe %>
</div>
<br/>
<%= link_to 'Bearbeiten', edit_course_path(@course), class: 'btn btn-default' %>
<!-- fixed link_to .. no :back path here!! -->
<%= link_to 'Zurück', :courses, class: 'btn btn-default' %>
