<% if notice || alert %>
  <div class="flash-message <%= notice ? "notice" : ""%><%= alert ? "error" : ""%>">
    <% if notice %>
      <p><%= notice %></p>
    <% elsif alert %>
      <p><%= alert %></p>
    <% end %>
  </div>
<% end %>
<% if my_flash %>
  <div class="flash-message my_flash">
  <p><%= my_flash %></p>
  <div class="cat"/>
  </div>
<% end %>

